<template>
  <q-page padding>
    <div>
      <ul v-if="allCities">
        <li v-for="city of allCities" :key="city.slug">{{ city.name }}</li>
      </ul>
    </div>
  </q-page>
</template>

<script>
import { allCities } from 'src/graphql/queries/cities';

export default {
  // name: 'PageName',
  apollo: {
    allCities,
  },
};
</script>
