<template>
  <div id="q-app">
    <router-view :key="$route.fullPath" />
  </div>
</template>
<script>
import { LS_AUTH_TOKEN_NAME } from 'src/js/constants';

export default {
  name: 'App',
  async beforeMount() {
    // Check user login
    if (this.$q.localStorage.has(LS_AUTH_TOKEN_NAME)) {
      this.$store.dispatch('users/readAuthTokenFromStorage');
    }
  },
};
</script>
