<template>
  <q-dialog v-model="dialog.open">
    <q-card style="min-width: 300px;" class="q-px-sm q-pb-md">
      <q-tabs
        v-model="dialog.tab"
        dense
      >
        <q-tab name="login" label="Login" />
        <q-tab name="register" label="Register" disabled />
      </q-tabs>
      <q-separator />
      <q-tab-panels
        v-model="dialog.tab"
        animated
      >
        <q-tab-panel name="login">
          <q-form
            class="q-gutter-md"
            @submit.prevent="handleLogin"
          >
            <q-input
              v-model="loginUsername"
              label="Username"
              error-message="Bad username OR password"
              :error="badLogin"
              @input="badLogin = false"
            />
            <q-input
              v-model="loginPassword"
              label="Password"
              type="password"
              :error="badLogin"
              @input="badLogin = false"
            />
            <div>
              <q-btn
                label="submit"
                color="primary"
                type="submit"
              />
            </div>
          </q-form>
        </q-tab-panel>
        <q-tab-panel name="register">
          Registration is currently disabled
        </q-tab-panel>
      </q-tab-panels>
    </q-card>
  </q-dialog>
</template>

<script>
import { LS_AUTH_TOKEN_NAME } from 'src/js/constants';
import { login } from 'src/graphql/mutations/users';

export default {
  // name: 'ComponentName',
  data() {
    return {
      badLogin: false,
      loginUsername: '',
      loginPassword: '',
      registerEmail: '',
      registerUsername: '',
      registerPassword1: '',
      registerPassword2: '',
      token: null,
    };
  },
  methods: {
    handleLogin() {
      this.$apollo.mutate({
        mutation: login,
        variables: {
          data: {
            username: this.loginUsername,
            password: this.loginPassword,
          },
        },
      }).then((data) => {
        const loginResponse = data.data.login;
        if (loginResponse.status) {
          this.$q.localStorage.set(LS_AUTH_TOKEN_NAME, loginResponse.token);
          this.$store.dispatch('users/readAuthTokenFromStorage');
          this.dialog.open = false;
        } else {
          this.badLogin = true;
        }
      });
    },
  },
  props: [
    'dialog',
  ],
};
</script>
