<template>
  <q-layout view="hHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

        <q-toolbar-title>
          DjangoCities
        </q-toolbar-title>

        <q-btn-dropdown
          v-if="authToken && authToken.user"
          icon="account_circle"
          :label="authToken.user"
        >
          <q-list>
            <q-item disabled>
              Logout
            </q-item>
          </q-list>
        </q-btn-dropdown>
        <q-btn
          v-else
          label="Login/Register"
          @click="loginDialogSettings.open = true"
        />

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="bg-grey-1"
    >
      <q-list>
        <q-item
          clickable
          exact
          to="/"
        >
          <q-item-section avatar>
            <q-icon name="home" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          clickable
          :to="{ name: 'CitiesList' }"
        >
          <q-item-section avatar>
            <q-icon name="location_city" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Cities</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <login-dialog v-bind:dialog="loginDialogSettings" />
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  components: {
    LoginDialog: () => import('components/Users/Login.vue'),
  },
  data() {
    return {
      leftDrawerOpen: false,
      loginDialogSettings: {
        open: false,
        tab: 'login',
      },
    };
  },
  computed: {
    authToken() {
      return this.$store.getters['users/decodedAuthToken'];
    },
  },
};
</script>
